/* configuración del titulo */
h1 {
    font-family: 'Chango', cursive;
    padding-top: 10px;
}
/* Efecto de Iluminacion sobre el Logo */
.btn-shine {
  color: #ffffff;
  background: linear-gradient(to right, midnightblue 0, lightblue 10%, midnightblue 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}    
@keyframes shine {
  0% {
    background-position: 0;
  }  
  60% {
    background-position: 360px;
  }  
  100% {
    background-position: 360px;
  }  
}
/* margen de separacion de la navbar */
nav {
    margin-top: 50px;
}
/* Tipo de letra para la lista de la navbar */
.ul_li_specs {
    font-family: 'Roboto', sans-serif;
}
/* Se cambia color del tipo de letra de la navbar */
.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
    color:midnightblue;
  }
/* Efecto de soom en las opciones de la navbar */
.zoom:hover {
    animation: zoom 2s ease-out infinite;
  }
  @keyframes zoom {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
/* Efecto de salto en la huellita de perro del logo de la navbar brand */
.box img{
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce 0.3s ease infinite alternate;
  }
  @keyframes bounce{
    100%{
      top: -20px;
    }
  }
/* configuración de subtitulo */
h2 {
    font-family: 'Chango', cursive;
    color:midnightblue;
    text-align: center;
    position:relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* configuración de la imagen de fonde del body */
body {
    background-image: url(../imags/catdog.jpg);
    background-repeat:repeat;
    overflow-x: hidden;
}
/* ajuste de tamaño del carrusel despues de 800px */
@media (min-width:800px) {
  #foto_galeria1 {
    width:800px;
    height:600px;
    margin-left:auto;
    margin-right: auto;
  }
}
/* Cambio de color en h5 de carrusel de pagina acerca */
h5 {
  -webkit-text-stroke: 1px skyblue;
  color:blue;
  font-size: 30px;
}
/* cambio de color en el mensaje del carrusel de la pagina acerca*/
#acerca {
  -webkit-text-stroke: 1px skyblue;
  color:blue;
  font-size: 20px;
}
/* ajuste de tamaño del carrusel despues de 800px */
@media (min-width:700px) {
  #video_galeria1 {
    width:700px;
    height:525px;
    margin-left:auto;
    margin-right: auto;
  }
}
/* configuración de la disposición de la pagina de contacto*/
.main_section {
    padding-top: 30px;
    padding-left: 50px;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
}
.main_section_map {
    margin-bottom: 30px;
}
.main_section_div {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
    border-style: solid;
    background-color: #ffffff;
    border: 3px solid orange;
    opacity: 0.8;
}
.main_section_div_p {
    font-family: 'Oswald', sans-serif;
    font-size: 120%;
    color: midnightblue;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* configuración de formuario de contacto*/
.formulario {
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    color: midnightblue;
    width: 550px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.main_section_about_p_down {
    padding-top: 20px;
    font-size: 250%;
    color: midnightblue;
}
/* configuracion de la seccion de calendario de eventos*/
.main_div_calendar {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}
/* Configuración de los margenes del footer */
.foot_item {
    margin-top: 20px;
    margin-bottom: 20px;
}