/* inicalizando margen y padding */
* {
    padding: 0;
    margin: 0;
}
/* configuración de header */
.header {
    height: 150px;
}
/* configuración de la lista de la nav bar */
.header_nav_ul {
    list-style-type: none;
    text-align: center;
}
.header_nav_ul_li {
    font-family: 'Oswald', sans-serif;
    float: left;
    width: 4cm;
    padding-top: 50px;
    
    }
/* configuración del titulo */
h1 {
    font-family: 'Chango', cursive;
    /*color:midnightblue;*/
    padding-top: 10px;
    /*padding-left: 20px;*/
}
.btn-shine {
  /*position: absolute;
  top: 50%;
  left: 50%;*/
  /*transform: translate(-10%,-10%);*/
  /*padding: 12px 48px;*/
  color: #ffffff;
  background: linear-gradient(to right, midnightblue 0, lightblue 10%, midnightblue 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  /*font-weight: 600;
  font-size: 16px;*/
  text-decoration: none;
  white-space: nowrap;
}    
@keyframes shine {
  0% {
    background-position: 0;
  }  
  60% {
    background-position: 360px;
  }  
  100% {
    background-position: 360px;
  }  
}
/* configuración de subtitulo */
h2 {
    font-family: 'Peralta', cursive;
    color:midnightblue;
    text-align: center;
    position:relative;
    padding-top: 20px;
}
/* configuración de la imagen de fonde del body */
body {
    background-image: url(../imags/catdog.jpg);
    background-repeat:repeat;
}
/* configuración de la imagen del la pagina index*/
.index_init {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}
/* configuración de la disposición de la pagina de contacto*/
.main_section {
    padding-top: 30px;
    padding-left: 50px;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
}
.main_section_map {
    margin-bottom: 30px;
}
.main_section_div {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
    border-style: solid;
    background-color: #ffffff;
    border: 3px solid orange;
    opacity: 0.8;
}
.main_section_div_p {
    font-family: 'Oswald', sans-serif;
    font-size: 120%;
    color: midnightblue;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* configuración de formuario de contacto*/
.formulario {
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    color: midnightblue;
    width: 550px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
/* configuración del mensaje sobre nosotros*/
.main_section_about {
    margin-top: 20px;
    margin-left: 12vw;
    margin-bottom: 40px;
    text-align: center;
    width: 72vw;
    padding: 30px;
    display: flex;
    background-color: #ffffff;
    border: 3px solid orange;
    opacity: 0.8;
}
.main_section_about_p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 110%;
    color: midnightblue;
    padding-bottom: 10px;
}
.main_section_about_p_down {
    padding-top: 20px;
    font-size: 250%;
    color: midnightblue;
}
/* configuracion de secion actividades*/
.main_section_actividades {
    margin-top: 20px;
    margin-left: 500px;
    margin-bottom: 20px;
}
.main_section_div_pactividades {
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    color: midnightblue;
    padding: 10px;
}
/* configuracion de la seccion de calendario de eventos*/
.main_div_calendar {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}
/* configiración de footer*/
.footer {
    height: 150px;
    background-color:olivedrab;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
.footer_items {
    margin-left: 120px;
    margin-right: 120px;
}