/* configuración del titulo */
h1 {
    font-family: 'Chango', cursive;
    padding-top: 10px;
}
/* Efecto de Iluminacion sobre el Logo */
.btn-shine {
  color: #ffffff;
  background: linear-gradient(to right, midnightblue 0, lightblue 10%, midnightblue 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}    
@keyframes shine {
  0% {
    background-position: 0;
  }  
  60% {
    background-position: 360px;
  }  
  100% {
    background-position: 360px;
  }  
}
nav {
    margin-top: 50px;
}
.ul_li_specs {
    font-family: 'Roboto', sans-serif;
    /*font-size: 150%;*/
}
.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
    color:midnightblue;
  }
  .zoom:hover {
    animation: zoom 2s ease-out infinite;
  }
  
  @keyframes zoom {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
.box img{
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce 0.3s ease infinite alternate;
  }
  @keyframes bounce{
    100%{
      top: -20px;
    }
  }
.div_nav {
    position: relative;
    padding: 1rem;
    margin: 1rem -.75rem 0;
    border: solid #dee2e6;
    border-width: 1px 0 0;
}

/* configuración de subtitulo */
h2 {
    font-family: 'Peralta', cursive;
    color:midnightblue;
    text-align: center;
    position:relative;
    padding-top: 20px;
}
/* configuración de la imagen de fonde del body */
body {
    background-image: url(../imags/catdog.jpg);
    background-repeat:repeat;
}
/* configuración de la imagen de la pagina index*/
.index_init {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}
/* configuración de la disposición de la pagina de contacto*/
.main_section {
    padding-top: 30px;
    padding-left: 50px;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
}
.main_section_map {
    margin-bottom: 30px;
}
.main_section_div {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
    border-style: solid;
    background-color: #ffffff;
    border: 3px solid orange;
    opacity: 0.8;
}
.main_section_div_p {
    font-family: 'Oswald', sans-serif;
    font-size: 120%;
    color: midnightblue;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* configuración de formuario de contacto*/
.formulario {
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    color: midnightblue;
    width: 550px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
/* configuración del mensaje sobre nosotros*/
.main_section_about {
    margin-top: 20px;
    margin-left: 12vw;
    margin-bottom: 40px;
    text-align: center;
    width: 72vw;
    padding: 30px;
    display: flex;
    background-color: #ffffff;
    border: 3px solid orange;
    opacity: 0.8;
}
.main_section_about_p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 110%;
    color: midnightblue;
    padding-bottom: 10px;
}
.main_section_about_p_down {
    padding-top: 20px;
    font-size: 250%;
    color: midnightblue;
}
/* configuracion de secion actividades*/
.main_section_actividades {
    margin-top: 20px;
    margin-left: 500px;
    margin-bottom: 20px;
}
.main_section_div_pactividades {
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    color: midnightblue;
    padding: 10px;
}
/* configuracion de la seccion de calendario de eventos*/
.main_div_calendar {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}
/* configiración de footer*/
.footer {
    height: 150px;
    background-color:olivedrab;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
.footer_items {
    margin-left: 120px;
    margin-right: 120px;
}